        <header class="bg-dark py-5" style="background-image: url(../../static/images/header.jpg); background-repeat: no-repeat; background-size: 100%;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Барбол ваш любимый</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Здесь вы найдёте то что искали и главное вкусное</p>
                </div>
            </div>
        </header>


        <header class="bg-dark py-5" style="background-image: url(../static/images/tort.jpg); background-repeat: no-repeat; background-size: 100%;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Торты на ваш вкус</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Здесь вы найдёте то что искали и главное вкусное</p>
                </div>
            </div>
        </header>
